/**
 * ==============================
 * Timeline component
 * ==============================
 */
@import "../base";

// VARIABLES
$timeline--item--disc--size: 15px !default;
$timeline--item--pipe--size: 5px !default;
$timeline--padding--left: 35px !default;
$timeline--space: $timeline--padding--left / 2 - $timeline--item--pipe--size;
$timeline--item--padding: 15px !default;
$timeline--item--line-height: 20px !default;
$timeline--base--index: 0 !default;
$timeline--clock: .5s !default;
$timeline--color-active: #66CC85;
$timeline--color-inactive: lighten($timeline--color-active, 25%);

// STYLES
.timeline {
  list-style: none;
  position: relative;
  overflow: hidden;

  padding-left: $timeline--padding--left;

  line-height: $timeline--item--line-height;

  &:before {
    content: '\00a0';
    background-color: $timeline--color-inactive;

    width: $timeline--item--pipe--size;
    height: 100%;

    position: absolute;
    top: 0;
    left: $timeline--space + $timeline--item--pipe--size/2;

    z-index: $timeline--base--index;
  }

  &:after {
    content: '\00a0';
    background-color: $timeline--color-active;

    width: $timeline--item--pipe--size + 2px;
    height: 0;

    position: absolute;
    top: 0;
    left: $timeline--space + $timeline--item--pipe--size/2 - 1px;

    transition: all $timeline--clock;

    z-index: $timeline--base--index + 1;
  }

  @for $i from 1 through 20 {
    &[data-step="#{$i}"] {
      &:after {
        $total: 2 * $timeline--item--padding + $timeline--item--line-height;
        $half: $total/2;
        height: calc(#{$total} * #{$i} - #{$half});
      }
      @for $j from 1 through $i {
        .timeline__item:nth-child(#{$j}):before {
          height: $timeline--item--disc--size;
          width: $timeline--item--disc--size;

          top: calc(50% - #{$timeline--item--disc--size} / 2);
          left: - ($timeline--padding--left + $timeline--item--disc--size) / 2;

          animation: bounce $timeline--clock linear $timeline--clock forwards;
          transition: all $timeline--clock linear $timeline--clock - 0.5 * $timeline--clock;
        }
      }
    }
  }
}

.timeline__item {
  padding: $timeline--item--padding 0;
  position: relative;

  &:before {
    content: '\00a0';
    background-color: $timeline--color-active;
    border-radius: 50%;
    width: $timeline--item--pipe--size;
    height: 0;

    position: absolute;
    top: calc(50% - #{$timeline--item--disc--size} / 2  + 3px);
    left: - ($timeline--padding--left + $timeline--item--pipe--size) / 2;

    z-index: $timeline--base--index + 2;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(.9);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
