/**
 * ==============================
 * Timeline component
 * ==============================
 */
@import "../base";

// VARIABLES
$timeline--item--disc--size: 15px !default;
$timeline--item--pipe--size: 5px !default;
$timeline--padding--left: 10px !default;
$timeline--item--padding: 15px !default;
$timeline--item--line-height: 20px !default;
$timeline--base--index: 0 !default;
$timeline--clock: .5s !default;
$timeline--color-active: #66CC85;
$timeline--color-inactive: lighten($timeline--color-active, 25%);

// STYLES
.timeline {
  list-style: none;
  position: relative;

  padding-left: $timeline--item--disc--size + $timeline--padding--left;

  line-height: $timeline--item--line-height;

  &::before {
    content: '\00a0';
    background-color: $timeline--color-inactive;

    width: $timeline--item--pipe--size;
    height: 100%;

    position: absolute;
    top: 0;
    left: $timeline--item--disc--size/2 - $timeline--item--pipe--size/2;

    z-index: $timeline--base--index;
  }

  &::after {
    content: '\00a0';
    background-color: $timeline--color-active;

    width: $timeline--item--pipe--size + 2px;
    height: 100%;

    position: absolute;
    top: 0;
    left: $timeline--item--disc--size/2 - $timeline--item--pipe--size/2 - 1px;

    transition: all $timeline--clock;

    clip-path: inset(0 0 100% 0);

    z-index: $timeline--base--index + 1;
  }

  &[data-direction="up"] {
    &:after {
      transition: all $timeline--clock calc(#{$timeline--clock} - 200ms);
    }
    .timeline__item:after {
      transition: all $timeline--clock;
    }
  }

  &[data-direction="down"] {
    &:after {
      transition: all $timeline--clock;
    }
    .timeline__item:after {
      transition: all $timeline--clock calc(#{$timeline--clock} - 200ms);
    }
  }

  @for $i from 1 through 20 {
    &[data-step="#{$i}"] {
      &::after {
        $total: 2 * $timeline--item--padding + $timeline--item--line-height;
        $half: $total/2;
        clip-path: inset(0 0 calc(100% - #{$total} * #{$i} + #{$half}) 0);
      }
      @for $j from 1 through $i {
        .timeline__item:nth-child(#{$j}):after, .timeline__item:nth-child(#{$j}):before {
          clip-path: inset(0 0 0 0);
          animation: bounce $timeline--clock linear $timeline--clock forwards;
        }
      }
    }
  }
}

.timeline__item {
  padding: $timeline--item--padding 0;
  position: relative;

  &::before, &:after {
    content: '\00a0';
    background-color: $timeline--color-inactive;
    border-radius: 50%;
    width: $timeline--item--disc--size;
    height: $timeline--item--disc--size;

    position: absolute;
    top: calc(50% - #{$timeline--item--disc--size} / 2);
    left: -$timeline--item--disc--size - $timeline--padding--left;

    z-index: $timeline--base--index + 2;

    transition: all $timeline--clock calc(#{$timeline--clock} - 200ms);

  }

  &::after {
    background-color: $timeline--color-active;
    clip-path: inset(0 0 100% 0);
    width: $timeline--item--disc--size + 2px;
    height: $timeline--item--disc--size + 2px;

    left: -$timeline--item--disc--size - $timeline--padding--left - 1px;
    top: calc(50% - #{$timeline--item--disc--size} / 2 - 1px);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(.9);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
