<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>WebStorm</title>
  <meta name="author" content="index">

  <link rel="stylesheet" href="styles/app.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.scripts"></script>
  <![endif]-->
  <!-- @todo Add Font loader -->
  <!--<link rel="stylesheet" media="screen"
        href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Lora:400,700">-->
</head>
<body>
<div class="content">
  <h1>Heading 1
    <small>This is a subtitles of heading 1.</small>
  </h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, natus, repellat! Beatae exercitationem
    ipsa iusto, magni nostrum tenetur ut. Debitis dolorem iste labore odio quam sapiente ullam. Consectetur, fugit,
    obcaecati.
  </p>

  <h2>Heading 2
    <small>This is a subtitles of heading 2.</small>
  </h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium debitis dolorem est, fugit magni nisi
    perspiciatis quas quo, recusandae, repudiandae sapiente similique totam voluptates. At dolores officiis omnis
    quos voluptate?
  </p>

  <h3>Heading 3
    <small>This is a subtitles of heading 3.</small>
  </h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium debitis dolorem est, fugit magni nisi
    perspiciatis quas quo, recusandae, repudiandae sapiente similique totam voluptates. At dolores officiis omnis
    quos voluptate?
  </p>
</div>
<button class="btn fixed">Button primary</button>
</body>
</html>
