/**
 * =========================
 *  COMPONENTS VARIABLES
 * =========================
 */

// Card
// Max char list Best match:
// card__title: 40
// card__subtitle: 22
// card__description: 265 (min: 220)
$card__color: #8fbc8f !default;
$card__duration: 0.3s !default;
$card__height: 335px !default;
