/**
 * Typography
 **/

@import "colors";

$font-folder: '../fonts/';

// BASE
$base-font-family: "open Sans", Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 100;

// HEADING
$heading-font-family: $base-font-family;
$heading-font-weight: 300;

// FIXED
$fixed-font-family: $base-font-family;
$fixed-font-size: $base-font-size;
$fixed-line-height: 1;

// QUIET
$quiet-color: lighten($black, 30%);

// LOUD
$loud-color: $red;
