<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <title></title>
  <link rel="stylesheet" href="/styles/app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Open Sans', 'Lora']
      }
    });
  </script>
</head>
<body>
<ul class="list__cards">
  <li>
    <article class="card">
      <header class="card__thumb">
        <a href="#">
          <img src="http://lorempicsum.com/futurama/370/235/2">
        </a>
      </header>
      <div class="card__date">
        <span class="card__date__day">12</span>
        <span class="card__date__month">Mai</span>
      </div>
      <div class="card__body">
        <div class="card__category"><a href="#">Photos</a></div>
        <h2 class="card__title"><a href="#">Bender Should Not Be Allowed on TV</a></h2>

        <div class="card__subtitle">A Head in the Polls</div>
        <p class="card__description">
          With a warning label this big, you know they gotta be fun! This is the worst part. The calm before the battle.
          No!
          The cat shelter's on to me. Yes, I saw. You were doing well, until everyone died. Daylight and everything.
        </p>
      </div>
      <footer class="card__footer">
        <span class="icon icon--time"></span>6 min
        <span class="icon icon--comment"></span><a href="#">39 comments</a>
      </footer>
    </article>
  </li>
  <li>
    <article class="card">
      <header class="card__thumb">
        <a href="#">
          <img src="http://lorempicsum.com/futurama/370/235/3">
        </a>
      </header>
      <div class="card__date">
        <span class="card__date__day">12</span>
        <span class="card__date__month">February</span>
      </div>
      <div class="card__body">
        <div class="card__category"><a href="#">Photos</a></div>
        <h2 class="card__title"><a href="#">Jurassic Bark</a></h2>

        <div class="card__subtitle">Bender Gets Made</div>
        <p class="card__description">
          Who am I making this out to? You guys realize you live in a sewer, right? Son, as your lawyer, I declare y'all
          are
          in a 12-piece bucket o' trouble. But I done struck you a deal: Five hours of community service cleanin' up
          that
          ol' mess you caused. I just told you! You've killed me!
        </p>
      </div>
      <footer class="card__footer">
        <span class="icon icon--time"></span>10 min
        <span class="icon icon--comment"></span><a href="#">50 comments</a>
      </footer>
    </article>
  </li>
  <li>
    <article class="card">
      <header class="card__thumb">
        <a href="#">
          <img src="http://lorempicsum.com/futurama/370/235/4">
        </a>
      </header>
      <div class="card__date">
        <span class="card__date__day">12</span>
        <span class="card__date__month">Mars</span>
      </div>
      <div class="card__body">
        <div class="card__category"><a href="#">Video</a></div>
        <h2 class="card__title"><a href="#">Lrrreconcilable Ndndifferences</a></h2>

        <div class="card__subtitle">A Head in the Polls</div>
        <p class="card__description">
          Anyone who laughs is a communist! All I want is to be a monkey of moderate intelligence who wears a suit&hellip;
          that's why I'm transferring to business school! Hey! I'm a porno-dealing monster, what do I care what you
          think?
          We're also Santa Claus! Oh right.
        </p>
      </div>
      <footer class="card__footer">
        <span class="icon icon--time"></span>6 min
        <span class="icon icon--comment"></span><a href="#">39 comments</a>
      </footer>
    </article>
  </li>
  <li>
    <article class="card">
      <header class="card__thumb">
        <a href="#">
          <img src="http://lorempicsum.com/futurama/370/235/5">
        </a>
      </header>
      <div class="card__date">
        <span class="card__date__day">12</span>
        <span class="card__date__month">Mai</span>
      </div>
      <div class="card__body">
        <div class="card__category"><a href="#">Photos</a></div>
        <h2 class="card__title"><a href="#">The Mutants Are Revolting</a></h2>

        <div class="card__subtitle">The Problem With Popplers</div>
        <p class="card__description">Kids have names? Perhaps, but perhaps your civilization is merely the sewer of an
          even greater society above you! Ah, the 'Breakfast Club' soundtrack! I can't wait til I'm old enough to feel
          ways about stuff!</p>
      </div>
      <footer class="card__footer">
        <span class="icon icon--time"></span>6 min
        <span class="icon icon--comment"></span><a href="#">39 comments</a>
      </footer>
    </article>
  </li>
  <li>
    <article class="card">
      <header class="card__thumb">
        <a href="#">
          <img src="http://lorempicsum.com/futurama/370/235/6">
        </a>
      </header>
      <div class="card__date">
        <span class="card__date__day">12</span>
        <span class="card__date__month">February</span>
      </div>
      <div class="card__body">
        <div class="card__category"><a href="#">Photos</a></div>
        <h2 class="card__title"><a href="#">The Cyber House Rules</a></h2>

        <div class="card__subtitle">Bendin' in the Wind</div>
        <p class="card__description">Does anybody else feel jealous and aroused and worried? They're like sex, except
          I'm having them! Oh Leela! You're the only person I could turn to; you're the only person who ever loved me.
          Leela's gonna kill me. Ooh, name it after me! Hey! I'm a porno-dealing monster, what do I care what you
          think?</p>
      </div>
      <footer class="card__footer">
        <span class="icon icon--time"></span>10 min
        <span class="icon icon--comment"></span><a href="#">50 comments</a>
      </footer>
    </article>
  </li>
  <li>
    <article class="card">
      <header class="card__thumb">
        <a href="#">
          <img src="http://lorempicsum.com/futurama/370/235/7">
        </a>
      </header>
      <div class="card__date">
        <span class="card__date__day">12</span>
        <span class="card__date__month">Mars</span>
      </div>
      <div class="card__body">
        <div class="card__category"><a href="#">Video</a></div>
        <h2 class="card__title"><a href="#">A Pharaoh to Remember</a></h2>

        <div class="card__subtitle">A Head in the Polls</div>
        <p class="card__description">Daylight and everything. Have you ever tried just turning off the TV, sitting down
          with your children, and hitting them? Why not indeed! Hello Morbo, how's the family?</p>
      </div>
      <footer class="card__footer">
        <span class="icon icon--time"></span>6 min
        <span class="icon icon--comment"></span><a href="#">39 comments</a>
      </footer>
    </article>
  </li>
</ul>
</body>
</html>
